<!DOCTYPE html>
<html lang="en">

<head>
    <title>Opriya</title>
    <meta charset="utf-8" />

    <meta name="viewport" content="width=device-width, initial-scale=1.0, maximum-scale=1.0, user-scalable=no" />

    <!-- FAVICONS -->
    <link rel="apple-touch-icon-precomposed" sizes="144x144" href="images/icons/india.png" />
    <link rel="apple-touch-icon-precomposed" sizes="114x114" href="images/icons/india.png" />
    <link rel="apple-touch-icon-precomposed" sizes="72x72" href="images/icons/india.png" />
    <link rel="apple-touch-icon-precomposed" href="images/icons/india.png" />
    <link rel="shortcut icon" href="images/icons/india.png" />

    <!-- GOOGLE WEB FONTS -->
    <link rel="stylesheet" href="css/font-awesome.min.css">

    <!-- BOOTSTRAP 3.3.7 CSS -->
    <link rel="stylesheet" href="css/bootstrap.min.css" />

    <link rel="stylesheet" href="css/jquery.fancybox.css" />
    <link rel="stylesheet" href="css/yith-woocommerce-compare/colorbox.css" />

    <link rel="stylesheet" href="css/owl-carousel/owl.carousel.min.css" />
    <link rel="stylesheet" href="css/owl-carousel/owl.theme.default.min.css" />
    <link rel="stylesheet" href="css/js_composer/js_composer.min.css" />
    <link rel="stylesheet" href="css/woocommerce/woocommerce.css" />
    <link rel="stylesheet" href="css/yith-woocommerce-wishlist/style.css" />


    <link rel="stylesheet" href="css/custom.css" />
    <link rel="stylesheet" href="css/app-orange.css" id="theme_color" />
    <link rel="stylesheet" href="" id="rtl" />
    <link rel="stylesheet" href="css/app-responsive.css" />

    <script src="https://kit.fontawesome.com/dde7a70e93.js" crossorigin="anonymous"></script>
</head>

<body class="page home-style3">
    <div class="body-wrapper theme-clearfix">
        <header id="header" class="header header-style3">
            <div class="header-top clearfix">
                <div class="container">
                    <div class="rows">
                        <!-- SIDEBAR TOP MENU -->
                        <div class="pull-left top1 d-flex jcsb w-100">
                            <div class="widget-inner">
                                <div class="textwidget d-flex">
                                    <h5 class="call-us personal_link mr-3">Personal</h5>
                                    <h5 class="call-us">Business</h5>
                                </div>
                            </div>
                            <!--  -->

                            <div class="d-flex aic">
                                <div class="widget text-3 widget_text pull-left">
                                    <select name="" id="" class="form-select b-0">
                                        <option value="0">English</option>
                                        <option value="1">हिन्दी</option>
                                    </select>
                                </div>

                                <div class="ms-3">
                                    <img src="./images/icons/india.png" class="header_flag" alt="">
                                </div>
                            </div>
                            <div class="d-flex aic">
                                <i class="fa-solid fa-location-dot me-3 header_icons"></i>
                                <i class="fa-regular fa-envelope me-3 header_icons"></i>
                                <i class="fa-solid fa-phone-flip header_icons"></i>
                            </div>
                        </div>

                    </div>
                </div>
            </div>



            <div class="header-bottom clearfix py-2">
                <div class="container d-flex aic flex-wrap">
                    <div class="rows me-4">
                        <div class="vertical_megamenus vertical_megamenu-header verticle-menu-index pull-left">
                            <h3 class="mobile_hide">Categories</h3>

                            <div class="vc_wp_custommenu wpb_content_element">
                                <div class="wrapper_vertical_menu vertical_megamenu">
                                    <div class="resmenu-container">
                                        <button class="navbar-toggle" type="button" data-toggle="collapse"
                                            data-target="#ResMenuvertical_menu">
                                            <span class="sr-only">Categories</span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                            <span class="icon-bar"></span>
                                        </button>

                                        <div id="ResMenuvertical_menu" class="collapse menu-responsive-wrapper">
                                            <ul id="menu-vertical-menu" class="etrostore_resmenu">
                                                <li class="menu-computers-laptops">
                                                    <a class="item-link" href="simple_product.html">Computers &
                                                        Laptops</a>
                                                </li>

                                                <li class="fix-menu res-dropdown menu-smartphones-tablet">
                                                    <a class="item-link dropdown-toggle"
                                                        href="simple_product.html">Smartphones & Tablet</a>
                                                    <span class="show-dropdown"></span>

                                                    <ul class="dropdown-resmenu">
                                                        <li class="res-dropdown menu-electronics">
                                                            <a class="item-link dropdown-toggle"
                                                                href="#">Electronics</a>
                                                            <span class="show-dropdown"></span>

                                                            <ul class="dropdown-resmenu">
                                                                <li class="menu-laptop-desktop-accessories"><a
                                                                        href="#">Laptop & Desktop Accessories</a></li>
                                                                <li class="menu-storage-external-drives"><a
                                                                        href="#">Storage & External Drives</a></li>
                                                                <li class="menu-networking-wireless"><a
                                                                        href="#">Networking & Wireless</a></li>
                                                                <li class="menu-motherboards-cpus-psus"><a
                                                                        href="#">Motherboards, CPUs & PSUs</a></li>
                                                                <li class="menu-webcams"><a href="#">Webcams</a></li>
                                                            </ul>
                                                        </li>

                                                        <li class="res-dropdown menu-smartphone">
                                                            <a class="item-link dropdown-toggle" href="#">Smartphone</a>
                                                            <span class="show-dropdown"></span>

                                                            <ul class="dropdown-resmenu">
                                                                <li class="menu-mobile-phones"><a href="#">Mobile
                                                                        Phones</a></li>
                                                                <li class="menu-smart-watches-accessories"><a
                                                                        href="#">Smart Watches & Accessories</a></li>
                                                                <li class="menu-mobile-accessories"><a href="#">Mobile
                                                                        Accessories</a></li>
                                                                <li class="menu-cases-covers"><a href="#">Cases &
                                                                        Covers</a></li>
                                                                <li class="menu-power-banks"><a href="#">Power Banks</a>
                                                                </li>
                                                            </ul>
                                                        </li>

                                                        <li class="res-dropdown menu-tablets">
                                                            <a class="item-link dropdown-toggle" href="#">Tablets</a>
                                                            <span class="show-dropdown"></span>

                                                            <ul class="dropdown-resmenu">
                                                                <li class="menu-tablet-accessories"><a href="#">Tablet
                                                                        Accessories</a></li>
                                                                <li class="menu-cases-covers"><a href="#">Cases &
                                                                        Covers</a></li>
                                                                <li class="menu-power-banks"><a href="#">Power Banks</a>
                                                                </li>
                                                                <li class="menu-memory-cards"><a href="#">Memory
                                                                        Cards</a></li>
                                                            </ul>
                                                        </li>

                                                        <li class="res-dropdown menu-computer">
                                                            <a class="item-link dropdown-toggle" href="#">Computer</a>
                                                            <span class="show-dropdown"></span>

                                                            <ul class="dropdown-resmenu">
                                                                <li class="menu-macbooks-imacs"><a href="#">Macbooks &
                                                                        iMacs</a></li>
                                                                <li class="menu-computers-desktops"><a
                                                                        href="#">Computers & Desktops</a></li>
                                                                <li class="menu-printers-scanners-faxs"><a
                                                                        href="#">Printers, Scanners, & Faxs</a></li>
                                                                <li class="menu-laptop-desktop-accessories"><a
                                                                        href="#">Laptop & Desktop Accessories</a></li>
                                                                <li class="menu-storage-external-drives"><a
                                                                        href="#">Storage & External Drives</a></li>
                                                            </ul>
                                                        </li>

                                                        <li class="fix-position res-dropdown menu-image">
                                                            <a class="item-link dropdown-toggle" href="#">Image</a>
                                                            <span class="show-dropdown"></span>

                                                            <ul class="dropdown-resmenu">
                                                                <li class="menu-image-1"><a href="#">Image 1</a></li>
                                                                <li class="menu-image-2"><a href="#">Image 2</a></li>
                                                                <li class="menu-image-3"><a href="#">Image 3</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>

                                                <li class="menu-cameras-camcorders">
                                                    <a class="item-link" href="simple_product.html">Cameras &
                                                        Camcorders</a>
                                                </li>

                                                <li class="res-dropdown menu-electronic-component">
                                                    <a class="item-link dropdown-toggle"
                                                        href="simple_product.html">Electronic Component</a>
                                                    <span class="show-dropdown"></span>

                                                    <ul class="dropdown-resmenu">
                                                        <li class="res-dropdown menu-electronics">
                                                            <a class="item-link dropdown-toggle"
                                                                href="#">Electronics</a>
                                                            <span class="show-dropdown"></span>

                                                            <ul class="dropdown-resmenu">
                                                                <li class="menu-leds"><a href="#">Leds</a></li>
                                                                <li class="menu-laptop-desktop-accessories"><a
                                                                        href="#">Laptop & Desktop Accessories</a></li>
                                                                <li class="menu-storage-external-drives"><a
                                                                        href="#">Storage & External Drives</a></li>
                                                                <li class="menu-networking-wireless"><a
                                                                        href="#">Networking & Wireless</a></li>
                                                                <li class="menu-motherboards-cpus-psus"><a
                                                                        href="#">Motherboards, CPUs & PSUs</a></li>
                                                                <li class="menu-webcams"><a href="#">Webcams</a></li>
                                                                <li class="menu-gaming-mice"><a href="#">Gaming Mice</a>
                                                                </li>
                                                            </ul>
                                                        </li>

                                                        <li class="res-dropdown menu-smartphone">
                                                            <a class="item-link dropdown-toggle" href="#">Smartphone</a>
                                                            <span class="show-dropdown"></span>

                                                            <ul class="dropdown-resmenu">
                                                                <li class="menu-smartphones"><a href="#">Smartphones</a>
                                                                </li>
                                                                <li class="menu-mobile-phones"><a href="#">Mobile
                                                                        Phones</a></li>
                                                                <li class="menu-smart-watches-accessories"><a
                                                                        href="#">Smart Watches & Accessories</a></li>
                                                                <li class="menu-mobile-accessories"><a href="#">Mobile
                                                                        Accessories</a></li>
                                                                <li class="menu-cases-covers"><a href="#">Cases &
                                                                        Covers</a></li>
                                                                <li class="menu-power-banks"><a href="#">Power Banks</a>
                                                                </li>
                                                                <li class="menu-memory-cards"><a href="#">Memory
                                                                        Cards</a></li>
                                                            </ul>
                                                        </li>

                                                        <li class="res-dropdown menu-tablet">
                                                            <a class="item-link dropdown-toggle" href="#">Tablet</a>
                                                            <span class="show-dropdown"></span>

                                                            <ul class="dropdown-resmenu">
                                                                <li class="menu-tablets"><a href="#">Tablets</a></li>
                                                                <li class="menu-tablet-accessories"><a href="#">Tablet
                                                                        Accessories</a></li>
                                                                <li class="menu-cases-covers"><a href="#">Cases &
                                                                        Covers</a></li>
                                                                <li class="menu-power-banks"><a href="#">Power Banks</a>
                                                                </li>
                                                                <li class="menu-memory-cards"><a href="#">Memory
                                                                        Cards</a></li>
                                                                <li class="menu-headphonesheadsets"><a
                                                                        href="#">Headphones/Headsets</a></li>
                                                            </ul>
                                                        </li>
                                                    </ul>
                                                </li>

                                                <li class="menu-home-appliances">
                                                    <a class="item-link" href="simple_product.html">Home Appliances</a>
                                                </li>

                                                <li class="menu-home-furniture">
                                                    <a class="item-link" href="simple_product.html">Home Furniture</a>
                                                </li>

                                                <li class="menu-household-goods">
                                                    <a class="item-link" href="simple_product.html">Household Goods</a>
                                                </li>

                                                <li class="menu-television">
                                                    <a class="item-link" href="simple_product.html">Television</a>
                                                </li>

                                                <li class="menu-accessories-for-tablet">
                                                    <a class="item-link" href="simple_product.html">Accessories for
                                                        Tablet</a>
                                                </li>

                                                <li class="menu-laptops-accessories">
                                                    <a class="item-link" href="simple_product.html">Laptops &
                                                        Accessories</a>
                                                </li>

                                                <li class="menu-blender">
                                                    <a class="item-link" href="simple_product.html">Blender</a>
                                                </li>

                                                <li class="menu-vacuum-cleaner">
                                                    <a class="item-link" href="simple_product.html">Vacuum Cleaner</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </div>

                                    <ul id="menu-vertical-menu-1"
                                        class="nav vertical-megamenu etrostore-mega etrostore-menures">
                                        <li class="menu-computers-laptops etrostore-menu-custom level1">
                                            <a href="simple_product.html" class="item-link">
                                                <span class="have-title" style="color: rgb(34, 34, 34);">
                                                    <span class="menu-color" data-color="#7ac143"
                                                        style="background: rgb(122, 193, 67); width: 4px;"></span>
                                                    <span class="menu-title">Computers & Laptops</span>
                                                </span>
                                            </a>
                                        </li>

                                        <li
                                            class="fix-menu dropdown menu-smartphones-tablet etrostore-mega-menu level1">
                                            <a href="simple_product.html" class="item-link dropdown-toggle">
                                                <span class="have-title" style="color: rgb(34, 34, 34);">
                                                    <span class="menu-color" data-color="#efc73a"
                                                        style="background: rgb(239, 199, 58); width: 4px;"></span>
                                                    <span class="menu-title">Smartphones & Tablet</span>
                                                </span>
                                            </a>

                                            <ul class="dropdown-menu nav-level1 column-3">
                                                <li class="dropdown-submenu column-3 menu-electronics">
                                                    <a href="#">
                                                        <span class="have-title">
                                                            <span class="menu-title">Electronics</span>
                                                        </span>
                                                    </a>

                                                    <ul class="dropdown-sub nav-level2">
                                                        <li class="menu-laptop-desktop-accessories"><a href="#"><span
                                                                    class="have-title"><span class="menu-title">Laptop &
                                                                        Desktop Accessories</span></span></a></li>
                                                        <li class="menu-storage-external-drives"><a href="#"><span
                                                                    class="have-title"><span class="menu-title">Storage
                                                                        & External Drives</span></span></a></li>
                                                        <li class="menu-networking-wireless"><a href="#"><span
                                                                    class="have-title"><span
                                                                        class="menu-title">Networking &
                                                                        Wireless</span></span></a></li>
                                                        <li class="menu-motherboards-cpus-psus"><a href="#"><span
                                                                    class="have-title"><span
                                                                        class="menu-title">Motherboards, CPUs &
                                                                        PSUs</span></span></a></li>
                                                        <li class="menu-webcams"><a href="#"><span
                                                                    class="have-title"><span
                                                                        class="menu-title">Webcams</span></span></a>
                                                        </li>
                                                    </ul>
                                                </li>

                                                <li class="dropdown-submenu column-3 menu-smartphone">
                                                    <a href="#">
                                                        <span class="have-title">
                                                            <span class="menu-title">Smartphone</span>
                                                        </span>
                                                    </a>

                                                    <ul class="dropdown-sub nav-level2">
                                                        <li class="menu-mobile-phones"><a href="#"><span
                                                                    class="have-title"><span class="menu-title">Mobile
                                                                        Phones</span></span></a></li>
                                                        <li class="menu-smart-watches-accessories"><a href="#"><span
                                                                    class="have-title"><span class="menu-title">Smart
                                                                        Watches & Accessories</span></span></a></li>
                                                        <li class="menu-mobile-accessories"><a href="#"><span
                                                                    class="have-title"><span class="menu-title">Mobile
                                                                        Accessories</span></span></a></li>
                                                        <li class="menu-cases-covers"><a href="#"><span
                                                                    class="have-title"><span class="menu-title">Cases &
                                                                        Covers</span></span></a></li>
                                                        <li class="menu-power-banks"><a href="#"><span
                                                                    class="have-title"><span class="menu-title">Power
                                                                        Banks</span></span></a></li>
                                                    </ul>
                                                </li>

                                                <li class="dropdown-submenu column-3 menu-tablets">
                                                    <a href="#">
                                                        <span class="have-title">
                                                            <span class="menu-title">Tablets</span>
                                                        </span>
                                                    </a>

                                                    <ul class="dropdown-sub nav-level2">
                                                        <li class="menu-tablet-accessories"><a href="#"><span
                                                                    class="have-title"><span class="menu-title">Tablet
                                                                        Accessories</span></span></a></li>
                                                        <li class="menu-cases-covers"><a href="#"><span
                                                                    class="have-title"><span class="menu-title">Cases &
                                                                        Covers</span></span></a></li>
                                                        <li class="menu-power-banks"><a href="#"><span
                                                                    class="have-title"><span class="menu-title">Power
                                                                        Banks</span></span></a></li>
                                                        <li class="menu-memory-cards"><a href="#"><span
                                                                    class="have-title"><span class="menu-title">Memory
                                                                        Cards</span></span></a></li>
                                                    </ul>
                                                </li>

                                                <li class="dropdown-submenu column-3 menu-computer">
                                                    <a href="#">
                                                        <span class="have-title">
                                                            <span class="menu-title">Computer</span>
                                                        </span>
                                                    </a>

                                                    <ul class="dropdown-sub nav-level2">
                                                        <li class="menu-macbooks-imacs"><a href="#"><span
                                                                    class="have-title"><span class="menu-title">Macbooks
                                                                        & iMacs</span></span></a></li>
                                                        <li class="menu-computers-desktops"><a href="#"><span
                                                                    class="have-title"><span
                                                                        class="menu-title">Computers &
                                                                        Desktops</span></span></a></li>
                                                        <li class="menu-printers-scanners-faxs"><a href="#"><span
                                                                    class="have-title"><span
                                                                        class="menu-title">Printers, Scanners, &
                                                                        Faxs</span></span></a></li>
                                                        <li class="menu-laptop-desktop-accessories"><a href="#"><span
                                                                    class="have-title"><span class="menu-title">Laptop &
                                                                        Desktop Accessories</span></span></a></li>
                                                        <li class="menu-storage-external-drives"><a href="#"><span
                                                                    class="have-title"><span class="menu-title">Storage
                                                                        & External Drives</span></span></a></li>
                                                    </ul>
                                                </li>

                                                <li class="fix-position dropdown-submenu column-3 menu-image">
                                                    <ul class="dropdown-sub nav-level2">
                                                        <li class="menu-image-1 etrostore-menu-img"><a href="#"><span
                                                                    class=""><span class="menu-img"><img
                                                                            src="images/1903/menu-bn7.jpg"
                                                                            alt="Menu Image"></span></span></a></li>
                                                        <li class="menu-image-2 etrostore-menu-img"><a href="#"><span
                                                                    class=""><span class="menu-img"><img
                                                                            src="images/1903/menu-bn8.jpg"
                                                                            alt="Menu Image"></span></span></a></li>
                                                        <li class="menu-image-3 etrostore-menu-img"><a href="#"><span
                                                                    class=""><span class="menu-img"><img
                                                                            src="images/1903/menu-bn9.jpg"
                                                                            alt="Menu Image"></span></span></a></li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>

                                        <li class="menu-cameras-camcorders etrostore-menu-custom level1">
                                            <a href="simple_product.html" class="item-link">
                                                <span class="have-title" style="color: rgb(34, 34, 34);">
                                                    <span class="menu-color" data-color="#fe9901"
                                                        style="background: rgb(254, 153, 1); width: 4px;"></span>
                                                    <span class="menu-title">Cameras & Camcorders</span>
                                                </span>
                                            </a>
                                        </li>

                                        <li class="dropdown menu-electronic-component etrostore-mega-menu level1">
                                            <a href="simple_product.html" class="item-link dropdown-toggle">
                                                <span class="have-title" style="color: rgb(34, 34, 34);">
                                                    <span class="menu-color" data-color="#f03442"
                                                        style="background: rgb(240, 52, 66); width: 4px;"></span>
                                                    <span class="menu-title">Electronic Component</span>
                                                </span>
                                            </a>

                                            <ul class="dropdown-menu nav-level1 column-3">
                                                <li
                                                    class="dropdown-submenu column-3 menu-electronics etrostore-menu-img">
                                                    <a href="#">
                                                        <span class="have-title">
                                                            <span class="menu-img">
                                                                <img src="images/1903/menu-bn7.jpg" alt="Menu Image">
                                                            </span>
                                                            <span class="menu-title">Electronics</span>
                                                        </span>
                                                    </a>

                                                    <ul class="dropdown-sub nav-level2">
                                                        <li class="menu-leds"><a href="#"><span class="have-title"><span
                                                                        class="menu-title">Leds</span></span></a></li>
                                                        <li class="menu-laptop-desktop-accessories"><a href="#"><span
                                                                    class="have-title"><span class="menu-title">Laptop &
                                                                        Desktop Accessories</span></span></a></li>
                                                        <li class="menu-storage-external-drives"><a href="#"><span
                                                                    class="have-title"><span class="menu-title">Storage
                                                                        & External Drives</span></span></a></li>
                                                        <li class="menu-networking-wireless"><a href="#"><span
                                                                    class="have-title"><span
                                                                        class="menu-title">Networking &
                                                                        Wireless</span></span></a></li>
                                                        <li class="menu-motherboards-cpus-psus"><a href="#"><span
                                                                    class="have-title"><span
                                                                        class="menu-title">Motherboards, CPUs &
                                                                        PSUs</span></span></a></li>
                                                        <li class="menu-webcams"><a href="#"><span
                                                                    class="have-title"><span
                                                                        class="menu-title">Webcams</span></span></a>
                                                        </li>
                                                        <li class="menu-gaming-mice"><a href="#"><span
                                                                    class="have-title"><span class="menu-title">Gaming
                                                                        Mice</span></span></a></li>
                                                    </ul>
                                                </li>

                                                <li
                                                    class="dropdown-submenu column-3 menu-smartphone etrostore-menu-img">
                                                    <a href="#">
                                                        <span class="have-title">
                                                            <span class="menu-img">
                                                                <img src="images/1903/menu-bn8.jpg" alt="Menu Image">
                                                            </span>

                                                            <span class="menu-title">Smartphone</span>
                                                        </span>
                                                    </a>

                                                    <ul class="dropdown-sub nav-level2">
                                                        <li class="menu-smartphones"><a href="#"><span
                                                                    class="have-title"><span
                                                                        class="menu-title">Smartphones</span></span></a>
                                                        </li>
                                                        <li class="menu-mobile-phones"><a href="#"><span
                                                                    class="have-title"><span class="menu-title">Mobile
                                                                        Phones</span></span></a></li>
                                                        <li class="menu-smart-watches-accessories"><a href="#"><span
                                                                    class="have-title"><span class="menu-title">Smart
                                                                        Watches & Accessories</span></span></a></li>
                                                        <li class="menu-mobile-accessories"><a href="#"><span
                                                                    class="have-title"><span class="menu-title">Mobile
                                                                        Accessories</span></span></a></li>
                                                        <li class="menu-cases-covers"><a href="#"><span
                                                                    class="have-title"><span class="menu-title">Cases &
                                                                        Covers</span></span></a></li>
                                                        <li class="menu-power-banks"><a href="#"><span
                                                                    class="have-title"><span class="menu-title">Power
                                                                        Banks</span></span></a></li>
                                                        <li class="menu-memory-cards"><a href="#"><span
                                                                    class="have-title"><span class="menu-title">Memory
                                                                        Cards</span></span></a></li>
                                                    </ul>
                                                </li>

                                                <li class="dropdown-submenu column-3 menu-tablet etrostore-menu-img">
                                                    <a href="#">
                                                        <span class="have-title">
                                                            <span class="menu-img">
                                                                <img src="images/1903/menu-bn9.jpg" alt="Menu Image">
                                                            </span>

                                                            <span class="menu-title">Tablet</span>
                                                        </span>
                                                    </a>

                                                    <ul class="dropdown-sub nav-level2">
                                                        <li class="menu-tablets"><a href="#"><span
                                                                    class="have-title"><span
                                                                        class="menu-title">Tablets</span></span></a>
                                                        </li>
                                                        <li class="menu-tablet-accessories"><a href="#"><span
                                                                    class="have-title"><span class="menu-title">Tablet
                                                                        Accessories</span></span></a></li>
                                                        <li class="menu-cases-covers"><a href="#"><span
                                                                    class="have-title"><span class="menu-title">Cases &
                                                                        Covers</span></span></a></li>
                                                        <li class="menu-power-banks"><a href="#"><span
                                                                    class="have-title"><span class="menu-title">Power
                                                                        Banks</span></span></a></li>
                                                        <li class="menu-memory-cards"><a href="#"><span
                                                                    class="have-title"><span class="menu-title">Memory
                                                                        Cards</span></span></a></li>
                                                        <li class="menu-headphonesheadsets"><a href="#"><span
                                                                    class="have-title"><span
                                                                        class="menu-title">Headphones/Headsets</span></span></a>
                                                        </li>
                                                    </ul>
                                                </li>
                                            </ul>
                                        </li>

                                        <li class="menu-home-appliances etrostore-menu-custom level1">
                                            <a href="simple_product.html" class="item-link">
                                                <span class="have-title" style="color: rgb(34, 34, 34);">
                                                    <span class="menu-color" data-color="#f034ca"
                                                        style="background: rgb(240, 52, 202); width: 4px;"></span>
                                                    <span class="menu-title">Home Appliances</span>
                                                </span>
                                            </a>
                                        </li>

                                        <li class="menu-home-furniture etrostore-menu-custom level1">
                                            <a href="simple_product.html" class="item-link">
                                                <span class="have-title" style="color: rgb(34, 34, 34);">
                                                    <span class="menu-color" data-color="#7745bc"
                                                        style="background: rgb(119, 69, 188); width: 4px;"></span>
                                                    <span class="menu-title">Home Furniture</span>
                                                </span>
                                            </a>
                                        </li>

                                        <li class="menu-household-goods etrostore-menu-custom level1">
                                            <a href="simple_product.html" class="item-link">
                                                <span class="have-title">
                                                    <span class="menu-color" data-color="#42b8d1"
                                                        style="background: rgb(66, 184, 209);"></span>
                                                    <span class="menu-title">Household Goods</span>
                                                </span>
                                            </a>
                                        </li>

                                        <li class="menu-television etrostore-menu-custom level1">
                                            <a href="simple_product.html" class="item-link">
                                                <span class="have-title">
                                                    <span class="menu-color" data-color="#3f5eca"
                                                        style="background: rgb(63, 94, 202);"></span>
                                                    <span class="menu-title">Television</span>
                                                </span>
                                            </a>
                                        </li>

                                        <li class="menu-accessories-for-tablet etrostore-menu-custom level1">
                                            <a href="simple_product.html" class="item-link">
                                                <span class="have-title">
                                                    <span class="menu-color" data-color="#13528c"
                                                        style="background: rgb(19, 82, 140);"></span>
                                                    <span class="menu-title">Accessories for Tablet</span>
                                                </span>
                                            </a>
                                        </li>

                                        <li class="menu-laptops-accessories etrostore-menu-custom level1">
                                            <a href="simple_product.html" class="item-link">
                                                <span class="have-title">
                                                    <span class="menu-color" data-color="#2f2e2e"
                                                        style="background: rgb(47, 46, 46);"></span>
                                                    <span class="menu-title">Laptops & Accessories</span>
                                                </span>
                                            </a>
                                        </li>

                                        <li class="menu-blender etrostore-menu-custom level1" style="display: none;">
                                            <a href="simple_product.html" class="item-link">
                                                <span class="have-title">
                                                    <span class="menu-color" data-color="#e93434"
                                                        style="background: rgb(233, 52, 52);"></span>
                                                    <span class="menu-title">Blender</span>
                                                </span>
                                            </a>
                                        </li>

                                        <li class="menu-vacuum-cleaner etrostore-menu-custom level1"
                                            style="display: none;">
                                            <a href="simple_product.html" class="item-link">
                                                <span class="have-title">
                                                    <span class="menu-color" data-color="#f034ca"
                                                        style="background: rgb(240, 52, 202);"></span>
                                                    <span class="menu-title">Vacuum Cleaner</span>
                                                </span>
                                            </a>
                                        </li>
                                    </ul>
                                </div>
                            </div>
                        </div>
                    </div>
                    <div class="mx-auto searchWrapper col">
                        <form method="get" action="" class="d-flex aic">
                            <input type="text" value="" name="s" class="searchInput form-control"
                                placeholder="Keyword here...">
                            <button type="submit" class="btn_theme search_btn mb-0">Search</button>
                        </form>
                    </div>
                    <div class="ms-auto d-flex aic" style="width:70px">
                        <div class="top-form top-form-minicart etrostore-minicart">
                            <div class="top-minicart-icon pull-right">
                                <i class="fa fa-shopping-cart"></i>
                                <a class="cart-contents" href="cart.html" title="View your shopping cart"><span
                                        class="minicart-number">2</span></a>
                            </div>

                            <div class="wrapp-minicart">
                                <div class="minicart-padding">
                                    <div class="number-item">There are <span>items</span> in your carts</div>
                                    <ul class="minicart-content">
                                        <li>
                                            <a href="simple_product.html" class="product-image">
                                                <img width="100" height="100" src="images/products/psmall.png"
                                                    class="attachment-100x100 size-100x100 wp-post-image" alt="">
                                            </a>

                                            <div class="detail-item">
                                                <div class="product-details">
                                                    <h4><a class="title-item" href="simple_product.html">veniam
                                                            dolore</a>
                                                    </h4>
                                                    <div class="product-price">
                                                        <span class="price"><span
                                                                class="woocommerce-Price-amount amount">₹190.00</span></span>
                                                        <div class="qty">
                                                            <span class="qty-number">1</span>
                                                        </div>
                                                    </div>

                                                    <div class="product-action clearfix">
                                                        <a href="" class="btn-remove" title="Remove this item "><span
                                                                class="fa fa-trash-o "></span></a>
                                                        <a class="btn-edit " href="cart.html "
                                                            title="View your shopping cart "><span
                                                                class="fa fa-pencil "></span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>

                                        <li>
                                            <a href="simple_product.html " class="product-image ">
                                                <img width="100 " height="100 " src="images/1903/22-150x150.jpg "
                                                    class="attachment-100x100 size-100x100 wp-post-image " alt=" "
                                                    srcset="images/1903/22-150x150.jpg 150w, images/products/ps5.webp 300w, images/1903/22-180x180.jpg 180w, images/1903/22.jpg 600w "
                                                    sizes="(max-width: 100px) 100vw, 100px ">
                                            </a>

                                            <div class="detail-item ">
                                                <div class="product-details ">
                                                    <h4><a class="title-item " href="simple_product.html ">Cleaner
                                                            with bag</a>
                                                    </h4>

                                                    <div class="product-price ">
                                                        <span class="price "><span
                                                                class="woocommerce-Price-amount amount ">₹350.00</span></span>
                                                        <div class="qty ">
                                                            <span class="qty-number ">1</span>
                                                        </div>
                                                    </div>

                                                    <div class="product-action clearfix ">
                                                        <a href=" " class="btn-remove " title="Remove this item "><span
                                                                class="fa fa-trash-o "></span></a>
                                                        <a class="btn-edit " href="cart.html "
                                                            title="View your shopping cart "><span
                                                                class="fa fa-pencil "></span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                        <li>
                                            <a href="simple_product.html" class="product-image">
                                                <img width="100" height="100" src="images/products/psmall.png"
                                                    class="attachment-100x100 size-100x100 wp-post-image" alt="">
                                            </a>

                                            <div class="detail-item">
                                                <div class="product-details">
                                                    <h4><a class="title-item" href="simple_product.html">veniam
                                                            dolore</a>
                                                    </h4>
                                                    <div class="product-price">
                                                        <span class="price"><span
                                                                class="woocommerce-Price-amount amount">₹190.00</span></span>
                                                        <div class="qty">
                                                            <span class="qty-number">1</span>
                                                        </div>
                                                    </div>

                                                    <div class="product-action clearfix">
                                                        <a href="" class="btn-remove" title="Remove this item "><span
                                                                class="fa fa-trash-o "></span></a>
                                                        <a class="btn-edit " href="cart.html "
                                                            title="View your shopping cart "><span
                                                                class="fa fa-pencil "></span></a>
                                                    </div>
                                                </div>
                                            </div>
                                        </li>
                                    </ul>

                                    <div class="cart-checkout ">
                                        <div class="price-total ">
                                            <span class="label-price-total ">Total</span>
                                            <span class="price-total-w "><span class="price "><span
                                                        class="woocommerce-Price-amount amount ">₹540.00</span></span></span>
                                        </div>

                                        <div class="cart-links clearfix ">
                                            <div class="cart-link "><a href="cart.html " title="Cart ">View
                                                    Cart</a></div>
                                            <div class="checkout-link "><a href="checkout.html "
                                                    title="Check Out ">Check
                                                    Out</a></div>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="widget mb-0 sw_top-7 sw_top ">
                            <div class="widget-inner ">
                                <div class="div-logined ">
                                    <a href="javascript:void(0); " data-toggle="modal ">
                                        <i class="fa-regular fa-user "></i>
                                    </a>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </header>

        <div class="listings-title ">
            <div class="container ">
                <div class="wrap-title ">
                    <h1>Home</h1>

                    <div class="bread ">
                        <div class="breadcrumbs theme-clearfix ">
                            <div class="container ">
                                <ul class="breadcrumb ">
                                    <li>
                                        <a href="home_page_1.html ">Home</a>
                                        <span class="go-page "></span>
                                    </li>

                                    <li class="active ">
                                        <span>Home</span>
                                    </li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>