<!doctype html>
<html lang="en">
  <head>
    <!-- Required meta tags -->
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">

    <!-- Bootstrap CSS -->
    <link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/css/bootstrap.min.css" integrity="sha384-Gn5384xqQ1aoWXA+058RXPxPg6fy4IWvTNh0E263XmFcJlSAwiGgFAW/dAiS6JXm" crossorigin="anonymous">

    <title>Hello, world!</title>
  </head>
  <style>
 
 
 .form_wrapper{
	max-width: 500px;
	margin: 0 auto;
	padding: 2rem 0;
 }
 
 .form_area{
		box-shadow: 0 0.5rem 1rem rgba(0, 0, 0, 0.15);
		padding:2rem;
		margin-top: 2rem;
 }
 
 .form_title h2{
	font-size-adjust: 1.5rem;
	color: #000;
	text-transform: uppercase;
	font-weight: normal;
 }

 .form-group label{
	font-weight: bold;
	font-size: 1rem;
 }

 .required{
	color: red;
	margin-left: 0.2rem;
 }
 
 .already_account{
	margin:1rem 0;
 }


 .btn_submit{
	background: #2d3436;
	color:#fff;
	border-radius: 0;
	display: inline-block;
	padding: 0.2rem 1.5rem;
	border:none;
	outline: none;
	
 }

 .form-check{
	margin-bottom:1rem
 }

 .privacy{
	font-weight: bold;
	color: red;
 }

 .already_account{
	text-align: center;
 }

 .already_account h6{
	font-weight: normal;
 }
 
 
 </style>
  <body>
    <!--------------------resgistre form-------------->

	<div class="form_wrapper">
	<div class="form_inner">
	<div class="company_logo text-center">
	<a href=""><img src="{{assets}}images/logos/logo-index3.png" alt=""></a>
	</div>
	<div class="form_area">
	<div class="form_title">
	<h2 class="text-center">Register</h2>
	</div>
	<form action="" method="post">

  <div class="form-group">
    <label for="exampleInputEmail1">Firstname<span class="required">*</span></label>
    <input type="text" class="form-control" id="exampleInputEmail1" aria-describedby="emailHelp" placeholder=" Firstname" name="" required>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Lastname<span class="required">*</span></label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder=" lastname" name="" required>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Password<span class="required">*</span></label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder=" password" name="" required>
  </div>
    <div class="form-group">
    <label for="exampleInputPassword1">Confrim Password<span class="required">*</span></label>
    <input type="password" class="form-control" id="exampleInputPassword1" placeholder="Confrim password" name="" required>
  </div>
  <div class="form-group">
    <label for="exampleInputPassword1">Email id<span class="required">*</span></label>
    <input type="text" class="form-control" id="exampleInputPassword1" placeholder=" Email id" name="" required>
  </div>
    <div class="form-group">
    <label for="exampleInputPassword1">Phone Number<span class="required">*</span></label>
    <input type="tel" class="form-control" id="exampleInputPassword1" placeholder="Phone Number" name="" required>
  </div>
    <div class="form-check">
	<input type="checkbox" class="form-check-input" id="exampleCheck1">
    <label class="form-check-label" for="exampleCheck1">I have read and agree to <a href="http://" class="privacy">Privacy Policy</a></label>
  </div>
    <button type="submit" class="btn_submit">Continue</button>
  <div class="already_account">
  <h6>I Have Account? <a href="http://" class="login_style">Login</a></h6>
  </div>
</form>
	
	</div>
	</div>
	</div>

    <!-- Optional JavaScript -->
    <!-- jQuery first, then Popper.js, then Bootstrap JS -->
    <script src="https://code.jquery.com/jquery-3.2.1.slim.min.js" integrity="sha384-KJ3o2DKtIkvYIK3UENzmM7KCkRr/rE9/Qpg6aAZGJwFDMVNA/GpGFF93hXpG5KkN" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/popper.js@1.12.9/dist/umd/popper.min.js" integrity="sha384-ApNbgh9B+Y1QKtv3Rn7W3mgPxhU9K/ScQsAP7hUibX39j7fakFPskvXusvfa0b4Q" crossorigin="anonymous"></script>
    <script src="https://cdn.jsdelivr.net/npm/bootstrap@4.0.0/dist/js/bootstrap.min.js" integrity="sha384-JZR6Spejh4U02d8jOt6vLEHfe/JQGiRRSQQxSfFWpi1MquVdAyjUar5+76PVCmYl" crossorigin="anonymous"></script>
  </body>
</html>